<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h3>Stable Diffusion Project</h3>
    <form action="/callPython" method="post">
        <label for="prompt">Enter Prompt for Stable Diffusion: </label>
        <input type="text" id="prompt" name="prompt">
        <input type="submit" value="Submit">
    </form>

    <% if(display){ %>
        <p>Here is your image <%= image %></p>
    <% } %>

</body>
</html>